@page "/"
@layout MainLayout

<div class="container">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found>
            <RouteView />
        </Found>
        <NotFound>
            <h1>Page not found</h1>
        </NotFound>
    </Router>
</div>
