@using System.Text.Json
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@using Microsoft.Extensions.DependencyInjection;
@using System;
@using System.Net.Http;
@using System.Threading.Tasks;


@page "/"

<h1>Generate Random Number</h1>

<button @onclick="GenerateRandomNumber">Generate</button>

<p>@RandomNumber</p>

@code {
    private string RandomNumber = "";

private async Task GenerateRandomNumber()
{
    var httpClient = _httpClientFactory.CreateClient("randomNumberAPI");
    var response = await httpClient.GetAsync("/");
    if (response.IsSuccessStatusCode)
    {
        using var content = await response.Content.ReadAsStreamAsync();
        using var document = await JsonDocument.ParseAsync(content);
        RandomNumber = document.RootElement.GetProperty("random_number").GetString();
    }
}


}
