@page "/"
@layout MainLayout

@using Microsoft.AspNetCore.Components.WebAssembly.Services


<div class="container">
    <h1>Blazor App</h1>

    <button class="btn btn-primary" @onclick="ExecutePythonFunction">Execute Python Function</button>
</div>

@code {
    private async Task ExecutePythonFunction()
    {

    }
}
