@page "/"
@using System.Net.Http
@using Learning_Blazor
@inject HttpClient HttpClient


<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="GetSomething">Get Something</button>
@if (result != null)
{
    <p>@result</p>
}

@code {
    private string result;

    private async Task GetSomething()
    {
        var response = await HttpClient.GetAsync("https://unicodex-xwodoxs6eq-uc.a.run.app/api/something");
        if (response.IsSuccessStatusCode)
        {
            result = await response.Content.ReadAsStringAsync();
        }
        else
        {
            result = $"Error: {response.StatusCode}";
        }
    }
}
