@page "/"

@using Learning_Blazor.Shared
@using System.Net.Http.Json

@inject HttpClient _httpClient
@inject IHttpClientFactory _httpClientFactory

<h1>Hello, world!</h1>

<p>Random number: @RandomNumber</p>

@code {
    private int RandomNumber { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Use the injected HttpClient instance to make requests
        var response = await _httpClient.GetAsync("randomnumber");
        RandomNumber = await response.Content.ReadFromJsonAsync<int>();

        // Use the injected IHttpClientFactory to create a named HttpClient instance
        var namedClient = _httpClientFactory.CreateClient("randomNumberAPI");
        var namedResponse = await namedClient.GetAsync("");
        var namedRandomNumber = await namedResponse.Content.ReadAsStringAsync();
    }
}
