@using System.Text.Json


@page "/"

<h1>Generate Random Number</h1>

<button @onclick="GenerateRandomNumber">Generate</button>

<p>@RandomNumber</p>

@code {
    private string RandomNumber = "";

private async Task GenerateRandomNumber()
{
    var client = new HttpClient();
    var response = await client.GetAsync("https://unicodex-xwodoxs6eq-uc.a.run.app/");
    var json = await response.Content.ReadAsStringAsync();

    // Deserialize the JSON response and extract the random_number property
    var document = JsonDocument.Parse(json);
    RandomNumber = document.RootElement.GetProperty("random_number").GetString();

}

}
